@import "tailwindcss";

@theme {
  --color-primary-50: #BDD3FF;
  --color-primary-100: #ADC6FF;
  --color-primary-200: #8FADFF;
  --color-primary-300: #7092FF;
  --color-primary-400: #5274FF;
  --color-primary-500: #3556FA;
  --color-primary-600: #0031F5;
  --color-primary-700: #002BB8;
  --color-primary-800: #00217A;
  --color-primary-900: #00123D;
  --color-primary-950: #000A1F;
}